name: Deploy

on:
  workflow_dispatch:
  push:
    branches: [main]

permissions: {}

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    permissions:
      contents: write # required to push to github

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 'latest'

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Deploy
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

          git fetch origin deploy

          git worktree add deploy-worktree deploy

          rm -rf deploy-worktree/*
          cp -r dist/* deploy-worktree/

          cd deploy-worktree
          git add .
          git commit -m "deploy" || echo "no changes"
          git push origin deploy
